@import "tailwindcss";

* {
    font-family: Inter;
}

.custom-before::before {
    content: "";
    position: absolute;
    z-index: 1;
    transform: translateX(12px);
    width: 16px;
    height: 16px;
    background-image: url('/todo/assets/tick.png');
    background-size: cover;
}
