@import "tailwindcss";

* {
    font-family: Inter;
}

.custom-before::before {
    content: "";
    position: absolute;
    z-index: 1;
    transform: translateX(12px);
    width: 16px; /* Adjust width */
    height: 16px; /* Adjust height */
    background-image: url('https://em-content.zobj.net/source/apple/391/check-mark-button_2705.png'); /* Your local image path */
    background-size: cover;
}
