@import "tailwindcss";

* {
    font-family: Inter;
}

.custom-before::before {
    content: "";
    position: absolute;
    z-index: 1;
    transform: translateX(12px);
    width: 16px;
    height: 16px;
    background-image: url('https://em-content.zobj.net/source/apple/391/check-mark-button_2705.png');
    background-size: cover;
    background-color: green;
    border-radius: 4px;
}
